{% extends 'base.html' %}

{% block content %}
    <h1 style="margin-left: 50px;">{% block title %} MISSING! {% endblock %}</h1>
    
    {% for message in messages %}
    <div style="margin-left: 70px; padding: 10px;" class='message'>
        <body>
        <img src="{{ uploaded_img_file_path }}" alt="{{ uploaded_img_file_path }}">
            <h1>Name: {{ message['petname'] }}</h1>
            <p>Age: {{ message['petage'] }}</p>
            <p>Date Last Seen: {{ message['petdate'] }}</p>
            <p>Owner: {{ message['petowner'] }}</p>
            <p>Owner Email: {{ message['petowcontact'] }}</p> 
        </body>      
    </div>
    {% endfor %}
    
{% endblock %}